<div class="container">
    <h2 class="mt-5 mb-3">Atualizar Funcionário</h2>
    <form>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="nome">Nome</label>
                <input type="text" id="nome" class="form-control" placeholder="" name="nome">
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="submit" class="btn btn-dark" value="Atualizar Serviço" />
                </div>
            </div>
        </div>
    </form>
</div>