.box{
    border:1px solid #ccc;
    height: 300px
}
.listAvailable, .listSelected{
    overflow-y: scroll;
    margin:0; padding:0;
}
.listAvailable li, .listSelected li{
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding:5px 2px;
}
.btnAddServico, .btnRemoveServico{
    background:#000;
    color:#fff;
    font-size:12px;
    width: 100%
}
select{ width:100%; height:50%; border-color:#ccc}
option{padding:5px 0;}
option:nth-child(odd){background:#f0f0f0;}