<div class="container">
    <div class="d-flex align-items-center justify-content-between mt-5">
        <h2>Agendamentos Cadastrados</h2>
        <mat-form-field class="matLabel">
            <mat-label>Funcionários</mat-label>
            <mat-select matNativeControl [(value)]="funcionarioId" (selectionChange)="onSearch()">
                <mat-option [value]="0">Todos</mat-option>
                <mat-option *ngFor="let funcionario of funcionarios" [value]="funcionario.id">{{funcionario.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <table class="table table-stripped">
        <thead>
            <th>ID</th>
            <th>DATA E HORA</th>
            <th>SERVIÇO</th>
            <th>VALOR</th>
            <th>FUNCIONÁRIO</th>
            <th>CLIENTE</th>
        </thead>
        <tbody>
            <tr *ngFor="let agendamento of agendamentos">
                <td>{{agendamento.id}}</td>
                <td>{{agendamento.data | data}}</td>
                <td>{{agendamento.servico}}</td>
                <td>{{agendamento.valor | currency: 'BRL'}}</td>
                <td>{{agendamento.funcionario}}</td>
                <td>{{agendamento.usuario}}</td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>