<main role="main" class="container">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Sobre a empresa</h1>
      <!-- <h4>Ferramenta de gestão para salões de beleza, barbearias, clínicas de estética, estúdio de maquiagem, manicure e pedicure, spa, salões infantis e muito mais.
      </h4> -->
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>EQUIPE</h2>
        <p>SOMOS UMA EQUIPE JOVEM, composta apenas por pessoas excepcionais em suas áreas e com o #beautypwr em seu DNA.
          Pessoas que entendem a rotina e as necessidades de quem vive da beleza e trabalha motivado para proporcionar a melhor experiência possível</p>
      </div>
      <div class="col-md-4">
        <h2>FERRAMENTAS</h2>
        <p>Ferramenta de gestão para salões de beleza, barbearias, clínicas de estética, estúdio de maquiagem, manicure e pedicure, spa, salões infantis e muito mais. </p>
      </div>
      <div class="col-md-4">
        <h2>APOIO</h2>
        <p>Hoje contamos com o apoio e a experiência de investidores que apostaram em uma empresa líder de mercado e que vai além de soluções de gestão, colocando o gestor em primeiro plano, a um nível acima dos demais.</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
</main>
