<main role="main" class="container">
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Bem-vindo, a Beauty</h1>
      <p>AQUI NO BEAUTY, sabemos que manter um negócio de beleza é uma tarefa complicada. Porém, sabemos também o quanto a tecnologia pode facilitar a vida das pessoas. Por isso, trabalhamos para desenvolver o melhor sistema de gestão voltado para negócios e profissionais de beleza, permitindo que suas rotinas sejam mais organizadas e também que encantem seus clientes oferecendo agendamento online.</p>
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Soluções</h2>
        <p>COM AS SOLUÇÕES, conseguimos unir o útil ao agradável. Podemos atender todo e qualquer tipo de estabelecimento de beleza, unindo agendamento, relacionamento e gestão. </p>
      </div>
      <div class="col-md-4">
        <h2>Agendamento</h2>
        <p>O agendamento online é disponível mesmo quando o estabelecimento está fechado aumentando o fluxo de clientes.</p>
      </div>
      <div class="col-md-4">
        <h2>Agenda</h2>
        <p>Trocar a agenda de papel por um online, economiza 3 horas do seu dia.</p>
      </div>
    </div>
  </div> <!-- /container -->
</main>
