<div class="container">
  <br>
  <br>
  <br>
  <div class="row justify-content-md-center">
    <div class="col-4">
      <form class="form-signin">
        <div class="text-center">
        <img class="mb-4" src="../../assets/image/beauty2.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        </div>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
        <div class="checkbox mb-3">
          <label>
            <a href="#">Esqueci minha senha</a>
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [routerLink]="['/dashboard']">Acessar</button>
        <p>Ainda não tem conta ? <a href="#" [routerLink]="['/cadastro']">Cadastre-se</a></p>
      </form>
    </div>
  </div>
</div>