<div class="container">
    <div class="d-flex align-items-center justify-content-between mt-5">
        <h2>Funcionários Cadastrados</h2>
        <input type="submit" class="btn btn-dark mb-3" routerLink="/cadastrofuncionario" value="Cadastrar Funcionário" />
    </div>
    <table class="table table-stripped">
        <thead>
            <th>ID</th>
            <th>FUNCIONÁRIO</th>
            <th>SERVIÇOS</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr *ngFor="let funcionario of funcionarios">
                <td>{{funcionario.id}}</td>
                <td>{{funcionario.nome}}</td>
                <td>
                    <mat-chip-list aria-label="Servico selection">
                        <mat-chip *ngFor="let servico of funcionario.servico">
                            {{servico.nome}}
                        </mat-chip>
                    </mat-chip-list>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="removerFuncionario(funcionario.id)"><i class="text-white fas fa-times"></i></button>
                    <button type="button" class="btn btn-warning ml-2"routerLink="{{'/atualizarfuncionario/'+funcionario.id}}"><i class="text-white fas fa-edit"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>