<div class="container">
    <h2 class="mt-5 mb-3">Atualizar Serviço</h2>
    <form [formGroup]='form'>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nome">Serviço</label>
                <input type="text" id="nome" class="form-control" formControlName="nome" placeholder="Serviço" name="nome">
            </div>
            <div class="form-group col-md-6">
                <label for="valor">Valor</label>
                <input type="text" class="form-control" formControlName="valor" placeholder="Valor" name="valor">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="submit" class="btn btn-dark" (click)="atualizarServico()" value="Atualizar Serviço" />
            </div>
        </div>
    </form>
</div>