<div class="container">
    <h2 class="mt-5 mb-3">Cadastro de Funcionário</h2>
    <form [formGroup]='form'>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="nome">Nome</label>
                <input type="text" id="nome" class="form-control" formControlName="nome" placeholder="" name="nome">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="submit" class="btn btn-dark" (click)="cadastrarFuncionario()" value="Cadastrar Funcionário" />
            </div>
        </div>
    </form>
</div>