<div class="container">
    <div class="d-flex align-items-center justify-content-between mt-5">
        <h2>Serviços Cadastrados</h2>
        <input type="submit" class="btn btn-dark mb-3" routerLink="/cadastroservico" value="Cadastrar Serviço" />
    </div>
    <table class="table table-stripped">
        <thead>
            <th>ID</th>
            <th>SERVIÇO</th>
            <th>VALOR</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr *ngFor="let servico of servicos">
                <td>{{servico.id}}</td>
                <td>{{servico.nome}}</td>
                <td>{{servico.valor | currency: 'BRL'}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="removerServico(servico.id)"><i class="text-white fas fa-times"></i></button>
                    <button type="button" class="btn btn-warning ml-2" routerLink="{{'/atualizarservico/' + servico.id}}"><i class="text-white fas fa-edit"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>